* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0c0e8b, #8f0449);
    padding: 20px;
}

.todo-app{
    width: 100%;
    max-width: 500px;
    background: #e8e8ea;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.todo-app h2 {
    color: rgb(5, 5, 50);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(207, 205, 203);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #4e3d40;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 15px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    /* took me a while to change the top from 12px to 8px so the circle aligns with task*/
    left: 8px;
}

ul li.checked {
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before {
    background-image: url(images/checked.png);
    background-size: cover;
    background-position: center;
}